.container{
    width: 600px;
    height: 600px;
    margin: 50px auto;
    box-shadow: 0 0 16px;
    display: flex;
    flex-wrap: wrap;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.card{
    width: 100px;
    height: 100px;
    position: relative;
    border: 1px solid white;
} 
.front{
    width: 100px;
    height: 100px;
    background-color: tomato;
    position: absolute;
    backface-visibility: hidden;
    transition: 1s all;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    color: white;
}
.back{
    width: 100px;
    height: 100px;
    background-color: cadetblue;
    position: absolute;
    backface-visibility: hidden;
    transition: 1s all;
    transform: perspective(900px) rotateY(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    color: white;
}


 .card.active > .front{
    transform: perspective(900px) rotateY(180deg);
    
}
.card.active > .back{
    transform: perspective(900px) rotateY(0deg);
    
} 

